/* Fonts */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Medium.woff2") format("woff2"), url("../fonts/OpenSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Colors */
    --color-gray: #444;
    --color-black: #222;
    --color-red: #de2e54;
    --color-white: #fff;
    --color-blue: #0eb4c1;
    --color-red-hover: rgba(222, 46, 84, 0.8);
    --color-navbar: rgba(255, 255, 255, 0.98);
    --color-shadow-blue: rgba(0, 107, 116, 0.3);
    --color-black: #000;
    --color-dark: #222;
   /* Font Families */
    --font-family-base: "Open Sans", sans-serif;
    --font-family-condensed: "Open Sans Condensed", sans-serif;
  /* Font Weights */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
  /* Font Sizes */
    --font-size-base: 16px;
    --font-size-sm: 14px;
    --font-size-md: 18px;
    --font-size-lg: 24px;
    --font-size-xl: 36px;
    --font-size-button: 15px;
/* Line Heights */
    --line-height-base: 24px;
    --line-height-sm: 21px;
    --line-height-md: 27px;
    --line-height-lg: 33px;
    --line-height-xl: 43px;
    --line-height-button: 22px;
    --line-height-button-percent: 150%;
    --line-height-index-link: 29px;

    /* Letter Spacing */
    --letter-spacing-lg: 2px;
    --letter-spacing-sm: 1px;
    --border-radius-md: 8px;
    --border-radius-lg: 24px;
    --spacing-none: 0;
    --spacing-xs: 8px;
    --spacing-sm-xs: 10px;
    --spacing-sm: 12px;
    --spacing-md: 16px;
    --spacing-lg-xs: 20px;
    --spacing-lg: 24px;
    --spacing-xl-xs: 30px;
    --spacing-xl: 32px;
    --spacing-2xl: 36px;
    --spacing-3xl: 40px;
    --spacing-4xl: 50px;
    --spacing-5xl: 56px;
    --spacing-6xl: 60px;
    --spacing-7xl: 64px;
    --spacing-8xl: 80px;
    --spacing-9xl: 120px;

    /* Max Widths */
    --max-width-container: 1280px;
    --max-width-hero-content: 500px;
    --max-width-hero-text: 440px;
    --width-button-default: 189px;
    --height-button-default: 47px;
    --width-contact-button: 192px;
    --height-contact-button: 42px;
    --width-burger-icon: 30px;
    --height-burger-icon: 3px;

    /* Transitions */
    --transition-duration-base: 0.3s;
    --box-shadow-service-image: 0px 12px 24px -8px var(--color-shadow-blue);

    /* Z-index */
    --z-index-high: 1001;
    --z-index-medium: 1000;
}

* {
    box-sizing: border-box;
    margin: var(--spacing-none);
    padding: var(--spacing-none);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--color-gray);
}

.container {
    max-width: var(--max-width-container);
    width: 100%;
    padding: var(--spacing-none) var(--spacing-lg-xs);
    margin: var(--spacing-none) auto;
}

/* Header */
.header {
    padding: var(--spacing-lg) var(--spacing-none);
    position: relative;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    z-index: var(--z-index-high);
}

.logo:active {
    opacity: 0.8;
}

.logo__image {
    margin-right: var(--spacing-md);
}

.logo__text {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-lg);
    color: var(--color-black);
}

.logo__text:hover {
    color: var(--color-red);
}

/* Burger Menu */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: var(--z-index-high);
}

.burger-menu__checkbox {
    display: none;
}

.burger-menu__icon {
    width: var(--width-burger-icon);
    height: var(--height-burger-icon);
    background-color: var(--color-black);
    margin: var(--height-burger-icon) var(--spacing-none);
    transition: var(--transition-duration-base);
    transform-origin: center;
}

/* Navigation */
.navbar {
    z-index: var(--z-index-medium);
}

.nav__list {
    display: flex;
    list-style: none;
    margin: var(--spacing-none);
    flex-wrap: wrap;
    padding: var(--spacing-none);
}

.nav__item:not(:last-child) {
    margin-right: var(--spacing-xl);
}

.nav__link {
    color: var(--color-black);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-sm);
    letter-spacing: var(--letter-spacing-lg);
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link:hover {
    color: var(--color-red);
}

.nav__link:active {
    opacity: 0.8;
}

/* Main */
.main-content {
    flex-grow: 1;
}

.main-button {
    background-color: var(--color-red);
    border: 2px solid var(--color-red);
    border-radius: var(--border-radius-md);
    color: var(--color-white);
    font-size: var(--font-size-button);
    font-family: var(--font-family-condensed);
    line-height: var(--line-height-button);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-lg);
    padding: var(--spacing-sm) var(--spacing-lg);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.main-button:hover {
    color: var(--color-red);
    background-color: var(--color-white);
}

.main-button:active {
    color: var(--color-white);
    background-color: var(--color-red);
    opacity: 0.8;
}

/* Hero */
.hero {
    width: 100%;
    background-color: var(--color-blue);
    background-size: cover;
    color: var(--color-white);
}

.hero__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.hero__content {
    width: var(--max-width-hero-content);
    margin: var(--spacing-9xl) var(--spacing-none);
    max-width: 100%;
}

.hero__title {
    font-family: var(--font-family-condensed);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-xl);
    margin: var(--spacing-none);
}

.hero__text {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    margin-top: var(--spacing-md);
    width: var(--max-width-hero-text);
    margin-bottom: var(--spacing-none);
    max-width: 100%;
}

.hero__button {
    margin-top: var(--spacing-2xl);
}

.hero__button:hover {
    color: var(--color-white);
    border-color: transparent;
    background-color: var(--color-red-hover);
}

.hero__image {
    align-self: flex-end;
    max-width: 100%;
    height: auto;
}

/* Services */
.services {
    padding: var(--spacing-9xl) var(--spacing-none);
}

.index__title {
    text-align: center;
    font-family: var(--font-family-condensed);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    color: var(--color-black);
    margin-bottom: var(--spacing-5xl);
}

.index__list {
    list-style: none;
    padding: var(--spacing-none);
    margin: var(--spacing-none) auto;
}

.index__item:not(:last-child) {
    margin-bottom: var(--spacing-8xl);
}

.service {
    display: flex;
    align-items: flex-start;
}

.index__image {
    margin-right: var(--spacing-7xl);
    box-shadow: var(--box-shadow-service-image);
    border-radius: var(--border-radius-lg);
    flex-shrink: 0;
}

.index__content .index__title {
    margin: var(--spacing-lg) var(--spacing-none);
    text-align: left;
}

.index__link {
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-condensed);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-index-link);
    color: var(--color-black);
}

.index__description {
    margin: var(--spacing-none);
    text-align: left;
}

.index__bottom-button {
    text-align: center;
    margin-top: var(--spacing-6xl);
}

.button {
    width: var(--width-button-default);
    height: var(--height-button-default);
    border-radius: var(--border-radius-md);
    border: 2px solid var(--color-red);
    padding: var(--spacing-sm) var(--spacing-lg);
    background-color: var(--color-red);
    color: var(--color-white);
    text-decoration: none;
    margin-top: var(--spacing-6xl);
    line-height: var(--line-height-button-percent);
    letter-spacing: var(--letter-spacing-lg);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-button);
    display: inline-block;
    text-align: center;
}

.button:hover {
    color: var(--color-white);
    border-color: transparent;
    background-color: var(--color-red-hover);
}

/* Cta */
.contact {
    padding: var(--spacing-7xl) var(--spacing-none);
    background-color: var(--color-blue);
    width: 100%;
}

.contact__container {
    text-align: center;
}

.contact__title {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-family: var(--font-family-condensed);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    margin: var(--spacing-none);
}

.contact__group {
    margin-top: var(--spacing-3xl);
}

.contact__button {
    width: var(--width-contact-button);
    height: var(--height-contact-button);
    border-radius: var(--border-radius-md);
    text-decoration: none;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    background-color: transparent;
    display: inline-block;
    text-align: center;
    padding: var(--spacing-xs) var(--spacing-md);
}

.contact__button:not(:last-child) {
    margin-right: var(--spacing-3xl);
}

.contact__button:hover {
    border-color: var(--color-red);
    background-color: var(--color-red);
    color: var(--color-white);
}

/* Footer */
.footer {
    background-color: var(--color-dark);
    padding: var(--spacing-lg) var(--spacing-none);
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__logo__text {
    color: var(--color-white);
}

.footer__logo__text:active {
    color: var(--color-white);
}

.footer-nav__link {
    color: var(--color-white);
}

.footer-nav__link:active {
    color: var(--color-white);
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        padding: var(--spacing-none) var(--spacing-md-xs);
    }

    .header {
        padding: var(--spacing-md) var(--spacing-none);
    }

    .logo__text {
        font-size: 20px;
       
    }

    .logo__image {
        margin-right: var(--spacing-sm);
        width: 40px;
     
        height: 40px;
        
    }

    /* burger menu */
    .burger-menu {
        display: flex;
    }

    .header .main-button {
        display: none;
    }

    /* Navigation */
    .navbar {
        position: fixed;
        top: var(--spacing-none);
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: var(--color-navbar);
        transition: left var(--transition-duration-base) ease;
        z-index: var(--z-index-medium);
    }

    .burger-menu__checkbox:checked~.navbar {
        left: var(--spacing-none);
    }

    .nav__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: var(--spacing-xl-xs);
    }

    .nav__item:not(:last-child) {
        margin-right: var(--spacing-none);
    }

    .nav__link {
        font-size: var(--font-size-md);
        padding: var(--spacing-md-xs);
    }

    /* Burger animation */
    .burger-menu__checkbox:checked~.burger-menu .burger-menu__icon {
        display: flex;
    }

    .burger-menu__checkbox:checked~.burger-menu .burger-menu__icon:nth-child(3) {
        opacity: 100%;
    }

    .burger-menu__checkbox:checked~.burger-menu .burger-menu__icon:nth-child(4) {
        transform: rotate(-45deg);
    }

    /* Hero */
    .hero__container {
        flex-direction: column;
        text-align: center;
    }

    .hero__content {
        width: 100%;
        margin: var(--spacing-6xl) var(--spacing-none) var(--spacing-3xl) var(--spacing-none);
    }

    .hero__title {
        font-size: 28px;
    
        line-height: 34px;
       
    }

    .hero__text {
        font-size: var(--font-size-base);
        line-height: var(--line-height-base);
        width: 100%;
    }

    .hero__image {
        width: 100%;
        max-width: 300px;

        margin-bottom: var(--spacing-3xl);
    }

    /* Services */
    .services {
        padding: var(--spacing-8xl) var(--spacing-none);
    }

    .index__title {
        font-size: 28px;
  
        line-height: 34px;
        
        margin-bottom: var(--spacing-3xl);
    }

    .service {
        flex-direction: column;
        text-align: center;
    }

    .index__image {
        margin-right: var(--spacing-none);
        margin-bottom: var(--spacing-lg);
        width: 100%;
        max-width: 200px;
       
        align-self: center;
    }

    .index__content .index__title {
        text-align: center;
        margin: var(--spacing-md) var(--spacing-none);
    }

    .index__description {
        text-align: center;
    }

    .index__item:not(:last-child) {
        margin-bottom: var(--spacing-6xl);
    }

    .button {
        width: auto;
        min-width: 160px;
       
        font-size: var(--font-size-sm);
        padding: var(--spacing-sm-xs) var(--spacing-lg-xs);
    }

    /* cta */
    .contact {
        padding: var(--spacing-4xl) var(--spacing-none);
    }

    .contact__title {
        font-size: 28px;
        
        line-height: 34px;
     
    }

    .contact__group {
        margin-top: var(--spacing-xl-xs);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg-xs);
        align-items: center;
    }

    .contact__button {
        width: auto;
        min-width: 180px;
 
        margin-right: var(--spacing-none);
    }

    /* Footer */
    .footer__container {
        flex-direction: column;
        gap: var(--spacing-lg-xs);
        text-align: center;
    }

    .footer .nav__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--spacing-md-xs);
        height: auto;
    }

    .footer .nav__link {
        font-size: var(--font-size-sm);
   
    }
}

@media (max-width: 480px) {
    .container {
        padding: var(--spacing-none) var(--spacing-sm-xs);
    }

    .hero__title {
        font-size: 24px;
      
        line-height: 30px;
        
    }

    .hero__text {
        font-size: var(--font-size-sm);
        line-height: var(--line-height-sm);
    }

    .index__title {
        font-size: 24px;
     
        line-height: 30px;
        
    }

    .index__link {
        font-size: 20px;
     
        line-height: 26px;
        
    }

    .contact__title {
        font-size: 24px;
     
        line-height: 30px;
      
    }

    .main-button,
    .button,
    .contact__button {
        font-size: var(--spacing-sm);
      
        padding: var(--spacing-xs) var(--spacing-md);
        letter-spacing: var(--letter-spacing-sm);
    }
}

@media (max-width: 320px) {
    .container {
        padding: var(--spacing-none) var(--spacing-xs);
    }

    .logo__text {
        font-size: 18px;
       
    }

    .hero__title {
        font-size: 22px;
     
        line-height: 28px;
        
    }

    .index__title {
        font-size: 22px;
      
        line-height: 28px;
    
    }

    .contact__title {
        font-size: 22px;
     
        line-height: 28px;
      
    }

    .nav__link {
        font-size: var(--font-size-base);
      
    }

    .footer .nav__list {
        gap: var(--spacing-sm-xs);
    }

    .footer .nav__link {
        font-size: 11px;
      
    }
}